.athiPen {
    &_learnMore {
        display: inline-block;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;

        &_header {
            text-align: center;
            font-weight: bold !important;
            color: $color-orange !important;
            transition: letter-spacing 0.4s;

            &:hover {
                letter-spacing: 0.1rem;
            }
        }
    }

    &_ads {
        margin: 0 auto;
        width: 100%;

        & > img {
            width: 98%;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }

    &_header {
        height: 93vh;
        display: block;

        & > span {
            display: flex;
            width: 80% !important;
            margin: 0 auto;
            padding: 1rem;
            margin-top: 40px;

            @media only screen and (max-width: 1200px) {
                & {
                    width: 85% !important;
                    margin-top: 40px !important;
                    flex-wrap: wrap !important;
                }
            }

            @media only screen and (max-width: 1000px) {
                & {
                    width: 90% !important;
                    margin-top: 30px !important;
                    flex-wrap: wrap !important;
                }
            }

            @media only screen and (max-width: 800px) {
                & {
                    width: 95% !important;
                    margin-top: 20px !important;
                }

                &_header {
                    flex-direction: column;
                    align-items: center;
                }
            }

            @media only screen and (max-width: 600px) {
                & {
                    width: 100% !important;
                    margin-top: 10px !important;
                }
            }

            & > h2 {
                color: $color-orange;
            }

            & > h3 {
                color: $color-dark;
            }
        }

        &_button {
            outline: none !important;
            background-color: $color-orange !important;
            margin-top: 3rem !important;
        }

        &_img {
            height: 16rem;
            width: auto;
            transition: opacity 0.5s, transform 0.6s;
            opacity: 1;

            &_disappeared {
                opacity: 0;
                width: 0;
            }

            &:hover {
                transform: translate(3rem, -1.5rem);
            }
        }

        &_show-more {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100px;

            &>a {

                &>p {
                    margin-bottom: 0.3rem;
                }
            }
        }

        &_colors {
            display: flex;
            flex-direction: row;
            margin-top: 1rem;

            &_item {
                margin-right: 10px;
                height: 1.7rem;
                width: 1.7rem;
                padding: 3px;
                transition: transform 0.3s;
                position: relative;
                cursor: pointer;
                transform: scale(1);

                &-first {
                    & > span > div {
                        box-shadow: #00bcd4 0px 0px 0px 14px inset;
                    }

                    &.selected {
                        & > span > div {
                            box-shadow: #00bcd4 0px 0px 0px 3px inset;
                        }
                    }
                }

                &-second {
                    & > span > div {
                        box-shadow: #ff5722 0px 0px 0px 14px inset;
                    }

                    &.selected {
                        & > span > div {
                            box-shadow: #ff5722 0px 0px 0px 3px inset;
                        }
                    }
                }

                & > span > div {
                    height: 100%;
                    width: 100%;
                    position: relative;
                    outline: none;
                    border-radius: 50%;
                    transition: box-shadow 100ms ease 0s;
                }

                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        &_learn-more {
            color: $color-dark !important;
            text-decoration: none !important;
            transition: color 0.2s !important;
            display: block !important;
            margin-top: 1.5rem !important;

            &:hover {
                text-decoration: none !important;
                color: $color-orange !important;
            }
        }
    }
}
