.navBtn {
    &_textUnderline {
        color: #ff9933 !important;
        border-radius: 0 !important;
        border-bottom: 0.1rem solid #de7c1a !important;
        margin-bottom: 0rem !important;
      }
}