.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &_column {
        color: #d8d8d8;
        flex: 0 1 0px;
        font-size: 0.8rem;
        min-width: 200px;

        & > b {
            padding: 0.5rem 1rem;
            font-size: 1rem;
        }

        & > p {
            font-size: 0.8rem;
        }

        & > .MuiDivider-root {
            margin-top: 0.5rem;
            background-color: #d8d8d8;
            margin-bottom: 2rem;
        }

        &-list {
            display: flex;
            flex-direction: column;
            font-size: 0.8rem;
        }

        &_btn {
            outline: none !important;
            background-color: #FF9933 !important;
            font-size: 0.9rem;
        }
    }

    &_link {
        color: $color-orange !important;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
            color: darken($color: $color-orange, $amount: 15) !important;
        }
    }

    &_copyright {
        color: #d8d8d8;
        text-align: center;
        margin-top: 2rem;
        font-size: 0.7rem;
        margin-bottom: 0.5rem;
    }

    &_parent {
        margin-top: 6rem;
        background-color: #585858;
        min-height: 10rem;
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 5px;
    }
}

body {
    overflow-x: hidden;
}
