.navigation {
  background-color: white !important;

  &__toolbar {
    color: $color-dark;
  }

  &_icon {
    transition: color .2s;

    &:hover {
      color: $color-orange;
    }
  }

  &__link {
    margin: 0 10px !important;
    float: left;
    width: 50%;
    height: 44px;
    margin: 30px 0;
    line-height: 24px;
    text-align: center;
    font-weight: normal;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    
    &_href, &_href > span {
      position: relative;
      color: inherit;
      transition: color .3s;
      text-decoration: none !important;
      line-height: 24px;
      width: 100px;
      &:before,
      &:after {
        content: "";
        position: absolute;
        transition: transform 0.5s ease;
      }
      
      &:hover {
        color: $color-orange !important;
        text-decoration: none !important;
      }
    }
  }
}