.navigation {
  background-color: white !important;

  &__menu_item {
    font-family: "Lato" !important;
    transition: all 0.3s !important;
    color: $color-dark;
    font-size: 1rem;

    &_selected > a {
      color: $color-orange !important;
    }

    &:hover {
      color: $color-orange;
    }

    & > a {
      text-decoration: none;
      transition: color 0.2s;
      color: $color-dark;

      &:hover {
        color: $color-orange;
      }
    }
  }

  &__toolbar {
    color: $color-dark;
  }

  &_icon {
    transition: color 0.2s;
    margin-right: 20px;
    margin-left: 10px;

    &:hover {
      color: $color-orange;
    }
  }

  @media only screen and (max-width: 600px) {
    &_icon {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__link {
    margin: 0 5px !important;
    float: left;
    height: 44px;
    margin: 30px 0;
    line-height: 24px;
    text-align: center;
    font-weight: normal;

    &_href,
    &_href > span {
      position: relative;
      color: inherit;
      transition: color 0.3s;
      text-decoration: none !important;
      line-height: 24px;

      &:before,
      &:after {
        content: "";
        position: absolute;
        transition: transform 0.5s ease;
      }

      &:hover {
        color: $color-orange !important;
        text-decoration: none !important;
      }
    }
  }

  @media only screen and (min-width: 600px) {
    &__link {
      margin: 0 10px !important;

      &_href > span {
        padding: 10px 15px !important;
      }
    }
  }
}
